<div class="app-container">
  <div class="main-content">
   <mat-card class="sobre-card">
    <div class="card-header">
      <h2>Sobre o Sistema</h2>
      <button mat-icon-button (click)="toggleShowMore()" aria-label="Expandir">
      <mat-icon>{{ showMore ? 'expand_less' : 'expand_more' }}</mat-icon>
     </button>
   </div>

   <p>
    Este sistema foi desenvolvido para auxiliar no gerenciamento de processos,
    oferecendo uma interface intuitiva e recursos modernos.
   </p>

   <div *ngIf="showMore" class="extra-info">
     <p>
      O objetivo do sistema é otimizar tarefas e proporcionar uma experiência agradável
      ao usuário, integrando funcionalidades avançadas e garantindo eficiência
      no dia a dia. Além disso, oferece relatórios detalhados e suporte a dois usuários.
      Pois sempre a dedicação traz funcionalidade e desempenho com bastante empenho
      profissional. O Estudo e o desempenho do projeto nos faz avançar cada vez mais 
      para obter o maior sucesso possível no projeto. O conhecimento sempre nos traz poder
      de evoluir como profissional. Estudar sempre nos deixa no patamar melhor, sempre nos 
      capacitando melhor e com maior dedicação, sempre aprofundando noa area de atuação.
     </p>
     <p>Força, fé e vitoria é nosos proposito de desenvolvcermos cada vez melhor para 
     sempre cerscer como profisisonal, no dia a dia, quanto mais se dedicar melhor ficar
     mais criativo nosso trabalho. O estudo sempre nos dar força ainda par fazermos o
     melhor que podemos. Crescer e nos desenvolver como profissional sempre nos dar uma 
     confiança e maturidade paar conseguir ainda mais nos consolidar na nossa area de 
     atuação. A dedicação sempre vais er plena e podemos evoluir sempre como profissional.
     O estudo sempre nos revigora profissionalmente. O conhecimento de montar e desenvolver
     nossa habilidade profissional sempre faz com que nossa capacidade cresça e continuemos 
     evoluindo.</p>
   </div>
  </mat-card>
 <app-footer></app-footer>
 </div>
</div>