.app-container {
  min-height: 100vh; /* ocupa toda a altura da tela */
  display: flex;
  flex-direction: column;
}

/* Conteúdo principal ocupa todo o espaço acima do footer */
.main-content {
  flex: 1;
  padding-bottom: 80px; /* aumenta espaço antes do footer */
}

/* Footer fixo no final da tela, se necessário */
footer, app-footer {
  margin-top: auto; /* garante que fique na base */
}
